<template>
  <div>

    <v-flex v-if="asVList">
      <v-list dense subheader v-for="(and, i) in cnf" :key="and.id">
        <v-divider/>
        <v-list-tile v-for="(or, j) in and" :key="or.id" class="cnf__or">
          <v-list-tile-avatar>
            <v-icon small :class="[or.logic==='and' ? 'cnf__logic--and' : 'cnf__logic--or']">
              <template>{{ renderLogic(i, j) }}</template>
            </v-icon>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <div>
              <span class="cnf__function" v-if="or.function !== 'identity'">{{renderFunction(i, j)}}</span>
              <template v-if="or.function !== 'identity'">(</template>
              <span class="cnf__field">{{ or.field }}</span>
              <template v-if="or.function !== 'identity'">)</template>
              <span>&nbsp;{{ renderConditional(i, j) }}&nbsp;</span>
              <span>{{ or.input }}</span>
            </div>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn flat icon @click="remove(i, j)"><v-icon>close</v-icon></v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-flex>


    <template v-else v-for="(and, i) in cnf">
      <template v-for="(or, j) in and">
        <v-icon small v-if="(i && or.logic === 'and') || j"
          :class="[or.logic==='and' ? 'cnf__logic--and' : 'cnf__logic--or']"
          :key="`${i},${j},icon`"
        >
          <template>
            {{ renderLogic(i, j) }}
          </template>
        </v-icon>
        <template v-if="!j">(</template>
        <v-chip :key="`${i},${j},chip`" small close @input="remove(i, j)">
          <span class="cnf__function" v-if="or.function !== 'identity'">{{renderFunction(i, j)}}</span>
          <template v-if="or.function !== 'identity'">(</template>
          <span class="cnf__field">{{ or.field }}</span>
          <template v-if="or.function !== 'identity'">)</template>
          <span>&nbsp;{{ renderConditional(i, j) }}&nbsp;</span>
          <span>{{ or.input }}</span>
        </v-chip>
        <template v-if="j === and.length-1">)</template>
      </template>
    </template>
  </div>
</template>

<script>
import jsoncnf from 'json-cnf';
import {mapGetters} from 'vuex'

export default {
  name: "CNFView",
  props: { namespace: {default: 'jsonctrl', type:String}, asVList: {default: false} },
  computed: {
    cnf() {
      return this.$store.getters[`${this.namespace}/conjunctiveNormalForm`]
    },

    filters() {
      return this.$store.state[`${this.namespace}`].filters
    },
  },
  methods: {
    remove(i, j) {
      let sum = 0
      for (let k = 0; k < i; k++) {
        sum += this.cnf[k].length
      }
      sum += j
      this.$store.commit(`${this.namespace}/spliceFilter`, sum)
    },
    renderLogic(i, j) {
      return this.displayLogic(this.cnf[i][j].logic)
    },
    renderFunction(i, j) {
      return this.displayFunction(this.cnf[i][j].function)
    },
    renderConditional(i, j) {
      return this.displayConditional(this.cnf[i][j].conditional)
    },
    displayConditional(conditional) {
      return this.$store.getters[`${this.namespace}/displayConditional`](conditional)
    },
    displayFunction(func) {
      return this.$store.getters[`${this.namespace}/displayFunction`](func)
    },
    displayLogic(logic) {
      return this.$store.getters[`${this.namespace}/displayLogic`](logic)
    },
  }

};
</script>

<style>
.cnf__logic--and {
  color: #0072ff !important;
}
.cnf__logic--or {
  color: #00c6ff !important;
}

.cnf__field {
  color: #f83600;
}

.cnf__function {
  color: black;
}
</style>
