<template>
  <!-- <div v-if="showFreeText"> -->
    <v-text-field
      label="Free Text"
      v-model="input"
      clearable
      append-icon="format_quote"
      @keyup.enter="processInput()"
    ></v-text-field>
    <!-- <CNFView/> -->
  <!-- </div> -->
</template>

<script>
import CNFView from './CNFView.vue'

export default {
  name: 'InputAlpha',
  props: { namespace: {default: 'jsonctrl', type:String} },
  data: () => ({input: ''}),
  components: {CNFView},
  computed: {
    showFreeText: {
      get() { return this.$store.state[this.namespace].showFreeText },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showFreeText', v:v} ) }
    },
  },
  methods: {
    processInput() {
      this.$store.dispatch(`${this.namespace}/extractFilter`, this.input)
      this.input = "";
      // this.$store.dispatch(`${this.namespace}/searchForFields`, this.input)
    },
  }
}
</script>
