<template>
    <v-sheet elevation=4>
      <v-layout align-center justify-space-around row >
        <v-flex xs12 sm3>
          <TimSort :namespace="namespace"/>
        </v-flex>
        <v-flex xs12 sm3>
          <RegEx :namespace="namespace"/>
        </v-flex>
        <v-flex xs12 sm3>
          <div v-if="showFreeText">
            <InputAlpha :namespace="namespace"/>
            <CNFViewer
              :namespace="namespace"
              :filters="filters"
              @remove="sliceFilter"
            />
          </div>
        </v-flex>
      </v-layout>
      <DataVue :namespace="namespace"/>
    </v-sheet>
</template>

<script>
import module from '../store/module/store.js';
// import StoreOptions from './StoreOptions';
import DataVue from './DataVue/DataVue.vue';
import TimSort from './TimSort.vue';
import RegEx from './RegEx.vue';
import InputAlpha from './InputAlpha.vue';
import CNFViewer from './CNFViewer.vue';

export default {
  name: 'JsonCtrl',
  components: {
    DataVue, TimSort, RegEx, InputAlpha, CNFViewer
  },
  computed: {
    showFreeText() {
      return this.$store.state[this.namespace].showFreeText
    },
    filters() {
      return this.$store.state[this.namespace].filters
    }
  },
  methods: {
    sliceFilter(i) {
      this.$store.commit(`${this.namespace}/spliceFilter`, i)
    }
  },
  props: {
    'namespace': {default: 'jsonctrl', type: String}
  },
  created() {
    if (!(this.namespace in this.$store.state)) {
      this.$store.registerModule(this.namespace, module)
    }
  }
}
</script>

<style lang="css">
</style>
