<template>
  <v-text-field
    v-if="showGlobalRegEx"
    label="Global Search"
    v-model="regex"
    clearable
    append-icon="search"
  ></v-text-field>
</template>

<script>
import * as _ from 'lodash'

export default {
  name: 'RegEx',
  props: { namespace: {default: 'jsonctrl', type:String} },
  computed: {
    regex: {
      get() { return this.$store.state[this.namespace].globalRegEx },
      set(v) {
        // _.debounce(
        //     this.$store.commit,
        //     300
        // )(`${this.namespace}/set`, {k: 'globalRegEx', v: v === null ? '' : v})
        this.$store.commit(`${this.namespace}/set`, {k: 'globalRegEx', v: v === null ? '' : v})
      }
    },
    showGlobalRegEx: {
      get() { return this.$store.state[this.namespace].showGlobalRegEx },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showGlobalRegEx', v:v} ) }
    },
  },
  methods: {

  }
}
</script>
