<template >
  <v-layout>
    <v-flex>
      <span class="subheading">alter displayed data</span>
      <v-switch v-model="isPaginated" label="isPaginated"></v-switch>
      <v-switch v-model="hasHeader" label="hasHeader"></v-switch>
      <v-switch v-model="hasFooter" label="hasFooter"></v-switch>
      <v-switch v-model="showRecordId" label="showRecordId"></v-switch>
    </v-flex>
    <v-flex>
      <span class="subheading">alter exploratory aspects</span>
      <v-switch v-model="isSelectable" label="isSelectable"></v-switch>
      <v-switch v-model="showFreeText" label="showFreeText"></v-switch>
      <v-switch v-model="showGlobalRegEx" label="showGlobalRegEx"></v-switch>
      <v-switch v-model="showTimSort" label="showTimSort"></v-switch>
    </v-flex>
  </v-layout>
</template>

<script>
// import { createNamespacedHelpers } from 'vuex'
export default {
  name: 'StoreOptions',
  props: {namespace: {default: 'jsonctrl', type:String}},
  computed: {
    isSelectable: {
      get() { return this.$store.state[this.namespace].isSelectable },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isSelectable', v:v} ) }
    },
    isPaginated: {
      get() { return this.$store.state[this.namespace].isPaginated },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isPaginated', v:v} ) }
    },
    hasHeader: {
      get() { return this.$store.state[this.namespace].hasHeader },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'hasHeader', v:v} ) }
    },
    hasFooter: {
      get() { return this.$store.state[this.namespace].hasFooter },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'hasFooter', v:v} ) }
    },
    showRecordId: {
      get() { return this.$store.state[this.namespace].showRecordId },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showRecordId', v:v} ) }
    },
    showFreeText: {
      get() { return this.$store.state[this.namespace].showFreeText },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showFreeText', v:v} ) }
    },
    showGlobalRegEx: {
      get() { return this.$store.state[this.namespace].showGlobalRegEx },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showGlobalRegEx', v:v} ) }
    },
    showTimSort: {
      get() { return this.$store.state[this.namespace].showTimSort },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showTimSort', v:v} ) }
    },

  }
}
</script>

<style lang="css">
</style>
