<template>
  <v-autocomplete
    v-model="model"
    :items="fields"
    label="TimSort"
    multiple
    item-value="field"
    item-text="field"
    @change="autocompleteChange"
    clearable
    hide-selected
    append-icon="sort"
    v-if="showTimSort"
  >
    <template slot="selection" slot-scope="data" >
      <v-chip
         :selected="data.selected"
         close small
         class="chip--select-multi"
         @input="remove(data.item)"
         @click.stop="toggle(data.item)"
      >
      <v-avatar>
        <v-icon>{{icon(direction(data.item))}}</v-icon>
      </v-avatar>
        {{ data.item }}
      </v-chip>

    </template>
  </v-autocomplete>
</template>


<script>
export default {
  name: 'TimSort',
  props: {
    'namespace': {default: 'jsonctrl', type: String}
  },
  data: () => ({friends:[]}),
  computed: {
    sorts() {
      return this.$store.state[`${this.namespace}`].sortSpecifications
    },
    fields() {
      return this.$store.getters[`${this.namespace}/fields`]
    },
    model: {
      get() {
        return this.$store.state[`${this.namespace}`].sortSpecifications
      },
      set(selected) { this.autocompleteChange(selected) }
    },
    showTimSort: {
      get() { return this.$store.state[this.namespace].showTimSort },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showTimSort', v:v} ) }
    },
  },
  methods: {
    toToggle(fields) {
      let toggleThese = []
      fields.forEach(field=>{
        let found = false
        for (let i = 0; i < this.sorts.length; i++) {
          if (this.sorts[i].field === field) {
            found = true
            break
          }
        }
        if (!found) toggleThese.push(field)
      })
      return toggleThese
    },
    direction(field)  {
      for (let i = 0; i < this.sorts.length; i++) {
        if (this.sorts[i].field === field) {
          return this.sorts[i].isAscending
        }
      }
    },
    icon(direction) {
      return direction
        ? 'arrow_upward'
        : 'arrow_downward'
    },
    remove(field) {
      let found = false
      let i
      for (i = 0; i < this.sorts.length; i++) {
        if (this.sorts[i].field === field) {
          found = true
          break
        }
      }
      this.$store.commit(`${this.namespace}/spliceSortSpecification`, i)
    },
    toggle(field) {
      this.$store.dispatch(`${this.namespace}/toggleSortSpecification`, field)
    },
    autocompleteChange(fields) {
      if (fields.length) {
        this.toToggle(fields).forEach(field => this.toggle(field))
      }
      else {
        this.$store.commit(`${this.namespace}/set`, {k:'sortSpecifications', v:[]})
      }
    }
  }
}
</script>


<style>
</style>
