<template>
  <thead class='datavue__header'>
    <tr>
      <th v-if="isSelectable" class="datavue__cell datavue__cell--header">
        <v-checkbox
          hide-details primary
          @change="applySelectToAll($event)" v-model="selected"
        >
        </v-checkbox>
      </th>
      <DataVueHeaderCell v-if="showRecordId" :id="''" sortable/>
      <DataVueHeaderCell
        v-for='field in fields'
        :key='field.id'
        :field='field'
        :namespace="namespace"
      />
    </tr>
  </thead>
</template>

<script>
import DataVueHeaderCell from './DataVueHeaderCell.vue';

export default {
  name: 'DataVueHeader',
  props: { namespace: {default: 'jsonctrl', type:String} },
  components: { DataVueHeaderCell },
  data: () => ({selected: false}),
  computed: {
    fields() {
      return this.$store.getters[`${this.namespace}/fields`]
    },
    showRecordId: {
      get() { return this.$store.state[this.namespace].showRecordId },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showRecordId', v:v} ) }
    },
    isSelectable: {
      get() { return this.$store.state[this.namespace].isSelectable },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isSelectable', v:v} ) }
    },
  },
  methods: {
    applySelectToAll(select) {
      this.$store.dispatch(`${this.namespace}/toggleSelectAll`, select)
    }
  }
};
</script>


<style>

</style>
