<template >
  <tbody class='datavue__records'>
    <DataVueRecord
      v-for='recordId in records'
      :key='recordId.id'
      :id='recordId'
      :namespace="namespace"
    />
  </tbody>
</template>

<script>
import DataVueRecord from './DataVueRecord.vue';

export default {
  name:'DataVueRecords',
  props: { namespace: {default: 'jsonctrl', type:String} },
  components: { DataVueRecord },
  computed: {
    records() {
      return this.$store.getters[`${this.namespace}/paginated`]
    }
  },
};
</script>

<style>
</style>
