<template>
  <td class="datavue__cell datavue__cell--footer">
    <select v-model="selected" class="datavue__footer__select">
      <option
        v-for="option in options"
        :key="option.id"
        :value="option"
        :selected='option == selected'
        class="datavue__footer__select__option"
      >
        {{symbol(option)}}
      </option>
    </select>
    <span>{{aggregate}}</span>
  </td>
</template>

<script>
const symbols = {sum: "∑", mean: "𝜇", set: "{}"};

export default {
  name: 'DataVueFooterCell',
  props: {
    namespace: {default: 'jsonctrl', type:String},
    field: {},
  },
  data: () => ({selected: ""}),

  computed: {
    values() {
      return this.$store.getters[`${this.namespace}/fieldValues`](this.field)
    },
    type() {
      return typeof this.values[0]
    },
    aggregate: function() {
      let sel = this.selected;

      if (this.type == "number") {
        let val = this.values.reduce((a, b) => a + b, 0);
        if (sel == "sum") {
          return val;
        } else if (sel == "mean") {
          return val / this.values.length;
        }
        return val;
      } else if (this.type == "string") {
        return [...new Set(this.values)].length;
      } else {
        return "";
      }
    },

    options: function() {
      let opts

      if (this.type == "number") {
        opts = ["sum", "mean"];
      } else if (this.type == "string") {
        opts = ["set"];
      } else {
        opts = [];
      }


      return opts;
    }
  },
  methods: {
    symbol: function(option) {
      return symbols[option];
    }
  },
  created() {
    if (this.options.length && this.selected === "") {
      this.selected = this.options[0];
    }
  }
};
</script>

<style>
.datavue__footer__select {
  background-color: transparent;
  border-color: transparent;
  /* border-bottom-color: RGB(50, 200, 250); */
  -webkit-appearance: none;
  text-transform: uppercase;
  padding: 0 5px;
  font-weight: bold;
  color: RGB(32, 122, 247);
}

.datavue__footer__select:hover {
  color: RGB(50, 200, 250);
}

.datavue__footer__select:focus {
  outline: none;
}

.datavue__footer__select__option {
  padding: 0 5px;
}
</style>
