<template >
  <th
    class="datavue__cell datavue__cell--header column text-xs-left"
    :class="{
      'sortable': sortable, 'active': direction !== undefined, 'asc': direction === true, 'dsc': direction === false,
      'datavue__cell--fixed': fixed
    }"
    @click="toggle"
  >
    {{field}}
    <i v-if="sortable" class="v-icon material-icons theme--light" style="font-size: 16px;">{{icon}}</i>
  </th>
</template>

<script>
export default {
  name: 'DataVueHeaderCell',
  props: {
    namespace: {default: 'jsonctrl', type:String},
    field: {},
    sortable: {default: true},
    fixed: {default: false}
  },
  computed: {
    direction() {
      return this.$store.getters[`${this.namespace}/fieldSortDirection`](this.field)
    },
    icon() {
      return (this.direction || this.direction === undefined)
      ? 'arrow_upward'
      : 'arrow_downward'
    }
  },
  methods: {
    toggle() {
      this.$store.dispatch(`${this.namespace}/toggleSortSpecification`, this.field)
    }

  }
};
</script>

<style>
.datavue__cell--fixed {
  position: fixed;
}
</style>
