<template>
  <tr class='dataframe__record'>
    <td v-if="isSelectable"  class="datavue__cell datavue__cell--record datavue__cell--selectable">
      <v-checkbox hide-details primary v-model="selected"></v-checkbox>
    </td>
    <DataVueRecordCell v-if="showRecordId" :id="id" :namespace="namespace"/>
    <DataVueRecordCell
      v-for='field in fields'
      :key='field.id'
      :field='field'
      :id='id'
      :namespace="namespace"
    />

  </tr>
</template>

<script>
import DataVueRecordCell from './DataVueRecordCell.vue';

export default {
  name: 'DataVueRecord',
  props: { namespace: {default: 'jsonctrl', type:String}, id: {}},
  components: { DataVueRecordCell },

  computed: {
    fields() {
      return this.$store.getters[`${this.namespace}/fields`]
    },
    showRecordId: {
      get() { return this.$store.state[this.namespace].showRecordId },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showRecordId', v:v} ) }
    },
    isSelectable: {
      get() { return this.$store.state[this.namespace].isSelectable },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isSelectable', v:v} ) }
    },
    selected: {
      get() {return this.$store.getters[`${this.namespace}/isSelected`](this.id)},
      set(v) { this.$store.commit(`${this.namespace}/pushSelected`, v)}
    }
  }
};
</script>


<style>
.datavue__cell--selectable {

}
</style>
