<template>
  <div class="v-datatable v-table theme--light">
    <div class="v-datatable__actions">
      <div class="v-datatable__actions__select">Records per page:
        <v-combobox
          v-model="recordsPerPage"
          :items="items"
          autocomplete
          hide-details
        >
         <template slot="selection" slot-scope="data">
           {{ data.item }}
         </template>
        </v-combobox>
      </div>
      <div v-if="recordsPerPage < nRecords" class="v-datatable__actions__range-controls">
        <div class="v-datatable__actions__pagination">{{a}}-{{b}} of {{nRecords}}</div>
        <v-btn flat icon :disabled="page===0" @click="prevPage">
          <v-icon>chevron_left</v-icon>
        </v-btn>
        <v-btn flat icon :disabled="b===nRecords" @click="nextPage">
          <v-icon>chevron_right</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DataVuePagination',
  props: { namespace: {default: 'jsonctrl', type:String} },
  data:()=>({
    items: [5, 10, 25, 100, 'All']
  }),
  computed: {
    nRecords() {
        return this.$store.getters[`${this.namespace}/numberOfFilteredRecords`]
    },
    page: {
      get() { return this.$store.state[this.namespace].page },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'page', v:v} ) }
    },
    recordsPerPage: {
      get() { return this.$store.state[this.namespace].recordsPerPage },
      set(v) {
        if ( v === 'All' ) v = Infinity
        this.$store.commit(`${this.namespace}/set`, {k: 'recordsPerPage', v:v} )
      }
    },
    a() {
      return this.page * this.recordsPerPage + 1
    },
    b() {
      return Math.min((this.page+1) * this.recordsPerPage, this.nRecords)
    }
  },
  methods: {
    prevPage(){
      this.$store.commit(`${this.namespace}/set`, {k: 'page', v: this.page - 1} )
    },
    nextPage(){
      this.$store.commit(`${this.namespace}/set`, {k: 'page', v: this.page + 1} )
    }
  }
}
</script>

<style>
</style>
