<template>
  <tfoot class='dataframe__footer'>
    <tr>
      <td v-if="isSelectable" class="datavue__cell datavue__cell--footer"></td>
      <td v-if="showRecordId"></td>
      <DataVueFooterCell
        v-for='field in fields'
        :key='field.id'
        :field='field'
        :namespace="namespace"
      />
    </tr>

  </tfoot>
</template>

<script>
import DataVueFooterCell from './DataVueFooterCell.vue';

export default {
  name: 'DataVueFooter',
  props: { namespace: {default: 'jsonctrl', type:String}},
  components: { DataVueFooterCell },
  computed: {
    fields() {
      return this.$store.getters[`${this.namespace}/fields`]
    },
    showRecordId: {
      get() { return this.$store.state[this.namespace].showRecordId },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'showRecordId', v:v} ) }
    },
    isSelectable: {
      get() { return this.$store.state[this.namespace].isSelectable },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isSelectable', v:v} ) }
    },
  }
};
</script>


<style></style>
