<template >
  <!-- <div class="v-card__text"> -->
    <div class='datavue__wrapper'>
      <div class='v-table__overflow datavue__wrapper'>
        <table class='datavue v-datatable v-table theme--light'
          :class="{'v-datatable--select-all': isSelectable}"
        >
          <DataVueHeader v-if="hasHeader" :namespace="namespace"/>
          <DataVueRecords :namespace="namespace"/>
          <DataVueFooter v-if="hasFooter"/>
        </table>
      </div>
      <DataVuePagination v-if="isPaginated" :namespace="namespace"/>
    </div>

  <!-- </div> -->
</template>

<script>
import DataVueRecords from './DataVueRecords.vue';
import DataVueHeader from './DataVueHeader.vue';
import DataVuePagination from './DataVuePagination.vue'
import DataVueFooter from './DataVueFooter.vue';

export default {
  name: 'DataVue',
  components: {
    DataVueRecords,
    DataVueHeader,
    DataVuePagination,
    DataVueFooter,
  },
  props: { namespace: {default: 'jsonctrl', type:String} },
  computed: {
    hasHeader: {
      get() { return this.$store.state[this.namespace].hasHeader },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'hasHeader', v:v} ) }
    },
    hasFooter: {
      get() { return this.$store.state[this.namespace].hasFooter },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'hasFooter', v:v} ) }
    },
    isPaginated: {
      get() { return this.$store.state[this.namespace].isPaginated },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isPaginated', v:v} ) }
    },
    isSelectable: {
      get() { return this.$store.state[this.namespace].isSelectable },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isSelectable', v:v} ) }
    }
  }
};
</script>

<style>
</style>
