<template>
  <td class="datavue__cell datavue__cell--record" v-html="display"></td>
</template>

<script>
export default {
  name: 'DataVueRecordCell',
  props: { namespace: {default: 'jsonctrl', type:String}, field: {}, id: {} },
  computed: {
    display() {
      if (this.field === undefined) return this.id
      return this.$store.getters[`${this.namespace}/fieldRender`](this.id, this.field)
    }
  }
};
</script>

<style>

</style>
