<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>JSON </span>
        <span class="font-weight-light">CTRL</span>
      </v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container>
        <v-layout row wrap>
          <v-flex xs6 align-center justify-center >
            <span class="title">timsort1</span>
            <v-sparkline :value="values('timsort1')" auto-draw></v-sparkline>
          </v-flex>
          <v-flex xs6 align-center justify-center >
            <span class="title">timsort2</span>
            <v-sparkline :value="values('timsort2')" auto-draw></v-sparkline>
          </v-flex>
        </v-layout>

        <v-expansion-panel>
          <v-expansion-panel-content>
            <div slot="header">
              <span class="headline">DataVue&nbsp;</span>
              <span class="headline font-weight-light">options</span>
            </div>
            <v-card-text>
              <StoreOptions class="fluid row wrap"/>
            </v-card-text>
          </v-expansion-panel-content>
        </v-expansion-panel>


        <JsonCtrl/>

      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import module from './store/module/store.js';

import JsonCtrl from './components/JsonCtrl'
import StoreOptions from './components/StoreOptions'

import dummydata from './assets/dummy-data.json'

import {config as configJsoncnf} from 'json-cnf';



let newConfig = Object.assign({}, configJsoncnf)
newConfig.extractors = {
  arrobj: (arr) => {
    return arr[arr.length - 1].v
  }
}

newConfig.conditionals.ss.exceptions = {
  arrobj: (a, b) => {
    console.log('hi', a, b)

  }
}

export default {
  name: 'App',
  components: {
    JsonCtrl, StoreOptions
  },
  created() {
    if (!this.$store.state.jsonctrl) {
      this.$store.registerModule('jsonctrl', module)
      this.$store.commit('jsonctrl/set', {
        k: 'json',
        v: dummydata
      })
      this.$store.commit('jsonctrl/set', {
        k: 'configJsoncnf',
        v: newConfig
      })
    }

  },
  methods: {
    values(field) {
      // used in sparklines
      return this.$store.getters[`jsonctrl/fieldValues`](field)
    },
  }
}
</script>
